<div class="form-group">
    <label for="nameTh">ชื่อ (ภาษาไทย)</label>
    <input type="text" class="form-control txtInput" id="nameTh" data-field="nameTh" placeholder="..." value="{{nameTh}}"/>
</div>
<div class="form-group">
    <label for="nameEn">ชื่อ (ภาษาอังกฤษ)</label>
    <input type="text" class="form-control txtInput" id="nameEn" data-field="nameEn" placeholder="..." value="{{nameEn}}"/>
</div>
<div style="margin-bottom: 8px;">
	<button id="newAddressBtn" type="button" class="btn btn-primary"><i class="fa fa-plus"></i> เพิ่มรายการที่อยู่ </button>
</div>
<table id="addressTbl" class="table table-bordered table-condensed">
</table>
<div style="margin-bottom: 8px;">
	<button id="newPersonBtn" type="button" class="btn btn-primary"><i class="fa fa-plus"></i> เพิ่มรายการผู้ติดต่อ </button>
</div>
<table id="personTbl" class="table table-bordered table-condensed">
</table>