<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<head>
</head>
<body>
	<div layout:fragment="content">
		<ol id="breadcrumb" class="breadcrumb">
  			<li><a href="#" th:href="@{/}"><i class="fa fa-home"></i> Home</a></li>
  			<li id="rootBreadcrumb" class="active">m03f01: จัดทำใบคำร้อง</li>
		</ol>
		
		<div id="mainContent">
			<div id="searchView">
			</div>
			
			<div class="row" id="tableResultView">

			</div>
			<div class="row" id="formView">
			</div>
		</div>
		<div id="companyModal" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<span style="font-weight: bold;"></span>
				</div>
				<div class="modal-body">
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger pull-right" id="companyModalCloseBtn"><i class="fa fa-times"></i>
					ปิดหน้าต่าง</button>
					<button type="button" class="btn btn-info pull-left" id="companyModalSaveBtn"> <i class="fa fa-floppy-o"></i>
					บันทึกรายละเอียด</button>  
				</div>
				</div>
			</div>
		</div>		
		<div id="testMethodModal" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<span style="font-weight: bold;"></span>
				</div>
				<div class="modal-body">
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger pull-right" id="testMethodModalCloseBtn"><i class="fa fa-times"></i>
					ปิดหน้าต่าง</button>
					<button type="button" class="btn btn-info pull-left" id="testMethodModalSaveBtn"> <i class="fa fa-floppy-o"></i>
					บันทึกรายละเอียด</button>  
				</div>
				</div>
			</div>
		</div>	
		<div id="requstFromQuotationModal" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<span style="font-weight: bold;">ทำใบคำร้องใหม่จากใบเสนอราคา</span>
				</div>
				<div class="modal-body">
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger pull-right" id="newRequestFromQuotationModalCloseBtn"><i class="fa fa-times"></i>
					ปิดหน้าต่าง</button>
				</div>
				</div>
			</div>
		</div>	
	</div>
	<div layout:fragment="pageScript">
	
<script type="text/javascript" src="../../static/pagejs/m03f01.js"
			th:src="@{/static/pagejs/m03f01.js}"></script>

<script id="requstFromQuotationTemplate" type="text/x-handlebars-template">
<div class="row">
	<div class="col-md-12" id="requestFromQuoationAlert">		
	</div>
</div>
<div class="row">
	<div style="text-align: right; padding-top:5px; " class="col-md-3">
		<b>ระบุหมายเลขใบเสนอราคา:</b>
	</div>
	<div class="col-md-9">
		<div class="search input-group" role="search" id="quotationSrh">
  		<input type="search" id="quoationNoTxt" class="form-control" placeholder="Search"/>
  		<span class="input-group-btn">
		    <button class="btn btn-default" type="button">
    		  	<span class="glyphicon glyphicon-search"></span>
    	  		<span class="sr-only">Search</span>
	    	</button>
	  	</span>
		</div>
	</div>
</div>
</script>

<script id="searchViewTemplate" type="text/x-handlebars-template">
<![CDATA[
<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-primary">
		<div class="panel-heading" style="text-align: center;">
			<b>ค้นหาใบคำร้อง</b>
		</div>
		
		<form class="form-horizontal" role="form">
			<div class="panel-body">


				<div class="form-group">
				    <label for="inputSampleTypes" class="col-md-3 control-label">ประเภทผลิตภัณฑ์</label>
				    <div class="col-md-7">
						<select class="form-control formSlt" id="sampleTypeSlt" data-field="sampleType">
							{{#each this.sampleTypes}}
								<option value="{{id}}" {{#if selected}}selected="selected"{{/if}}>{{nameTh}}</option>
							{{/each}}
						</select>				      
				    </div>
				</div>

		<div class="form-group">
			<label for="productTxt" class="col-md-3 control-label">เลขใบคำร้อง</label>
		    <div class="col-md-7">
		      <input type="text" class="form-control txtInput" data-field="reqNo" id="reqNoTxt" placeholder="..."/>
		    </div>
		</div>
		<div class="form-group">
			<label for="templateCodeTxt" class="col-md-3 control-label">บริษัท</label>
		    <div class="col-md-7">
		      <input type="text" class="form-control txtInput" data-field="companyName" id="companyNameTxt" placeholder="..."/>
		    </div>
		</div>
		<div class="form-group">
			<label for="ownerSlt" class="col-md-3 control-label">หน่วยงาน</label>
 			<div class="col-sm-2">
   				<select class="form-control formSlt" id="mainOrgSlt" data-field="mainOrg">
				{{#each mainOrg}}
					<option value="{{id}}" {{#if selected}}selected="selected"{{/if}} >
						{{abbr}}
					</option>
				{{/each}}
				</select>
 			</div>
			<div class="col-md-5" id="orgSlt">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" style="text-align: center">
					<button type="button" id="newRequestBtn" class="btn btn-default"><i class="fa fa-plus"></i> ทำใบคำร้องใหม่</button>
					<button type="button" id="newRequestFromQuotationBtn" class="btn btn-default"><i class="fa fa-plus"></i> ทำใบคำร้องใหม่จากใบเสนอราคา</button>
					<button type="submit" id="searchRequestBtn" class="btn btn-default"><i class="fa fa-search"></i> ค้นหา</button>
					<button type="button" class="btn btn-default"><i class="fa fa-times-circle"></i> ล้างข้อมูล</button>
				</div>
			</div>
		</div>
		</form>
	</div>
</div>
<!-- ]]> -->
</script>



 <script id="orgSelectionTemplate" type="text/x-handlebars-template">

   	<select class="form-control formSlt" id="groupOrgSlt" data-field="groupOrg">
		<option value="0">กรุณาเลือก...</option>		
		{{#each mainGroup}}
		<option value="{{id}}">{{name}} ({{abbr}})</option>
		{{/each}}			
	</select>

</script>

<script id="defaultBreadCrumbTemplate" type="text/x-handlebars-template" th:inline="text">
<li><a href="[[@{/}]]"><i class="fa fa-home"></i> Home</a></li>
<li id="rootBreadcrumb" class="active">m03f01: จัดทำใบคำร้อง</li>
</script>

<script id="newBreadCrumbTemplate" type="text/x-handlebars-template" th:inline="text">
<li><a href="[[@{/}]]"><i class="fa fa-home"></i> Home</a></li>
<li id="rootBreadcrumb"><a href="#/">m03f01: จัดทำใบคำร้อง</a></li>
<li class="active">สร้างใบคำร้องใหม่</li>
</script>

<script id="testMethodGroupModalBodyTemplate" type="text/x-handlebars-template">
	<form role="form">
		<div class="form-group">
			 <label for="productName">ชื่อกลุ่มรายการ</label>
			 <input type="text" class="form-control txtInput" id="testMethodItemName" 
				data-id="{{id}}" placeholder="..." value="{{name}}"/>
		</div>
	</form>
</script>

<script id="companyModalBodyTemplate" type="text/x-handlebars-template">
<div class="row">
	<div style="text-align: right; padding-top:5px; " class="col-md-2">
		<b>ระบุคำค้น:</b>
	</div>
	<div class="col-md-9">
		<div class="search input-group" role="search" id="companySrh">
  		<input type="search" id="queryTxt" class="form-control" placeholder="Search"/>
  		<span class="input-group-btn">
		    <button class="btn btn-default" type="button">
    		  	<span class="glyphicon glyphicon-search"></span>
    	  		<span class="sr-only">Search</span>
	    	</button>
	  	</span>
		</div>
	</div>
</div>
<div id="companySearchTbl" style="margin-top:12px;">
</div>
</script>

<script id="companySearchTblTemplate" type="text/x-handlebars-template">
<div class="panel panel-default">
	<div class="panel-body">
		<b>ผลการค้นหา</b>
	</div>
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<td style="width: 30px;"></td>
				<td style="width: 200px;text-align:center;" class=""><b>หน่วยงาน</b></td>
				<td style="text-align:center;"><b>ที่อยู่</b></td>
				<td style="width: 200px;text-align:center;" class=""><b>ผู้ติดต่อ</b></td>
				
			</tr>
		</thead>
		<tbody>
			{{#each content}}
			<tr>
				<td>
					<input type="radio" class="companyRdo" name="companyRdo" value="{{id}}"/> 
				</td>
				<td>{{nameTh}}</td>
				<td>
					{{#if addresses}}
						<ul>
						{{#each addresses}}
							<li>{{line1}} {{line2}} {{district.name}} จ.{{province.name}} {{zipCode}}</li>
						{{/each}}
						</ul>
					{{else}}
						{{oldAddress.line1FromOldAddress}} {{oldAddress.line2FromOldAddress}}
						{{oldAddress.district.name}} จ.{{oldAddress.province.name}} {{olAddress.zipCode}} *
					{{/if}} 
				</td>
				<td><ul>{{#each people}}<li>{{firstName}} {{lastName}}</li>{{/each}}</ul></td>
				
			</tr>
			{{/each}}
		</tbody>
	</table>
	<form class="form-inline">
	<div class="panel-footer">
		<div class="row">
			<div class="col-md-6">
				1-15 จาก {{page.totalElements}} รายการ  
			</div>
			<div class="col-md-6" style="text-align: right;">
				{{#unless page.firstPage}}<button class="btn btn-default btn-sm testMethodPageNav" data-targetPage="{{page.prevPage}}" type="button"><i class="fa fa-chevron-left"></i></button>{{/unless}}
				หน้าที่ <input class="form-control input-sm" size="2" type="text" id="testMethodPageTxt" value="{{page.pageNumber}}"></input> จาก {{page.totalPages}} หน้า
				{{#unless page.lastPage}}<button class="btn btn-default btn-sm testMethodPageNav" data-targetPage="{{page.nextPage}}" type="button"><i class="fa fa-chevron-right"></i></button>{{/unless}}
			</div>
		</div>
	</div>
	</form>
</div>
</script>

<script id="testMethodItemModalBodyTemplate" type="text/x-handlebars-template">
<div class="row">
	<div style="text-align: right; padding-top:5px; " class="col-md-2">
		<b>ระบุคำค้น:</b>
	</div>
	<div class="col-md-9">
		<div class="search input-group" role="search" id="testMethodSrh">
  		<input type="search" id="queryTxt" class="form-control" placeholder="Search"/>
  		<span class="input-group-btn">
		    <button class="btn btn-default" type="button">
    		  	<span class="glyphicon glyphicon-search"></span>
    	  		<span class="sr-only">Search</span>
	    	</button>
	  	</span>
		</div>
	</div>
</div>
<div id="testMethodSearchTbl" style="margin-top:12px;">
</div>
</script>

<script id="testMethodSearchTblTemplate" type="text/x-handlebars-template">
<div class="panel panel-default">
	<div class="panel-body">
		<b>ผลการค้นหา</b>
	</div>
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<td style="width: 30px;"></td>
				<td style="width: 180px;text-align:center;" class=""><b>รหัส</b></td>
				<td style="text-align:center;"><b>ชื่อรายการ</b></td>
				<td style="width: 80px;text-align:center;" class=""><b>ราคา</b></td>
				<td style="width: 100px;text-align:center;" class=""><b>หมายเหตุ</b></td>
			</tr>
		</thead>
		<tbody>
			{{#each content}}
			<tr>
				<td>
					{{#if ../editMode}}
						<input type="radio" class="testMethodRdo" name="testMethodRdo" value="{{id}}"/>
					{{else}}
						<input type="checkbox" class="testMethodRdo" name="testMethodRdo" value="{{id}}"/>
					{{/if}} 
				</td>
				<td>{{code}}</td>
				<td>{{nameTh}}</td>
				<td style="padding-right: 15px;text-align:right;">{{fee}}</td>
				<td>{{remark}}</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
	<form class="form-inline">
	<div class="panel-footer">
		<div class="row">
			<div class="col-md-6">
				1-15 จาก {{page.totalElements}} รายการ  
			</div>
			<div class="col-md-6" style="text-align: right;">
				{{#unless page.firstPage}}<button class="btn btn-default btn-sm testMethodPageNav" data-targetPage="{{page.prevPage}}" type="button"><i class="fa fa-chevron-left"></i></button>{{/unless}}
				หน้าที่ <input class="form-control input-sm" size="2" type="text" id="testMethodPageTxt" value="{{page.pageNumber}}"></input> จาก {{page.totalPages}} หน้า
				{{#unless page.lastPage}}<button class="btn btn-default btn-sm testMethodPageNav" data-targetPage="{{page.nextPage}}" type="button"><i class="fa fa-chevron-right"></i></button>{{/unless}}
			</div>
		</div>
	</div>
	</form>
</div>
</script>

<script id="companyInfoTemplate" type="text/x-handlebars-template">
<div class="form-group">
    <label class="col-sm-3 control-label" for="address"><button class="btn btn-primary btn-xs newAddress" style="margin-right:14px;" type="button" data-sampleindex="0" id="newAddressBtn"><i class="fa fa-plus"></i> เพิ่ม</button>ที่อยู่</label>
	<div class="col-sm-9">
		<select class="form-control formSlt" id="addressSlt" data-field="address">
		{{#if useAddresses}}
			{{#each this.company.addresses}}
				<option value="{{id}}" {{#if selected}}selected="selected"{{/if}}>{{line1}} {{line2}} {{district.name}} {{province.name}} {{zipCode}}</option>
			{{/each}}
		{{else}} 
			{{#with company.oldAddress}}
				<option value="{{id}}" {{#if selected}}selected="selected"{{/if}}>{{line1FromOldAddress}} {{line2FromOldAddress}} {{district.name}} {{province.name}} {{zipCode}}</option>
			{{/with}}
		{{/if}}
		</select>
	</div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label" for="contact"><button class="btn btn-primary btn-xs newContact" style="margin-right:14px;" type="button" data-sampleindex="0" id="newContactBtn"><i class="fa fa-plus"></i> เพิ่ม</button>ผู้ติดต่อ</label>
	<div class="col-sm-9">
		<select  class="col-sm-3 form-control formSlt" id="contactSlt" data-field="contact">
		{{#each this.company.people}}
    		<option value="{{id}}" {{#if selected}}selected="selected"{{/if}}>{{firstName}} {{lastName}} {{email}}</option>
		{{/each}}
		</select>
	</div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label" for="address">ที่อยู่ออกรายงาน</label>
	<div class="col-sm-9">
		<select class="form-control formSlt" id="addressSlt" data-field="address">
		{{#if useAddresses}}
			{{#each this.company.reportAddresses}}
				<option value="{{id}}" {{#if selected}}selected="selected"{{/if}}>{{line1}} {{line2}} {{district.name}} {{province.name}} {{zipCode}}</option>
			{{/each}}
		{{else}} 
			{{#with company.oldAddress}}
				<option value="{{id}}" {{#if selected}}selected="selected"{{/if}}>{{line1FromOldAddress}} {{line2FromOldAddress}} {{district.name}} {{province.name}} {{zipCode}}</option>
			{{/with}}
		{{/if}}
		</select>
	</div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label" for="address">ที่อยู่ออกใบเสร็จรับเงิน</label>
	<div class="col-sm-9">
		<select class="form-control formSlt" id="addressSlt" data-field="address">
		{{#if useAddresses}}
			{{#each this.company.receiptAddresses}}
				<option value="{{id}}" {{#if selected}}selected="selected"{{/if}}>{{line1}} {{line2}} {{district.name}} {{province.name}} {{zipCode}}</option>
			{{/each}}
		{{else}} 
			{{#with company.oldAddress}}
				<option value="{{id}}" {{#if selected}}selected="selected"{{/if}}>{{line1FromOldAddress}} {{line2FromOldAddress}} {{district.name}} {{province.name}} {{zipCode}}</option>
			{{/with}}
		{{/if}}
		</select>
	</div>
</div>

</script>

<script id="sampleViewTemplate"  type="text/x-handlebars-template">
<div class="panel {{#if newClick}}panel-success{{else}}panel-default{{/if}} samplePanel" data-sampleIndex="{{index}}">
 <div class="panel-heading form-inline fuelux">
		<div class="pull-left" style="margin-top: 5px; margin-right: 8px;">
  			<a href="#" class="samplePanelCollapse" data-target="collapsePanel_{{index}}"><i class="fa fa-chevron-down"></i></a> #<span class="sampleNum">{{plus index 1}}</span>  
		</div>
		<div class="pull-left">  
    	<label for="sampleName_{{index}}">ชื่อตัวอย่าง</label>
    	<input type="text" class="form-control sampleTxtInput" id="sampleName_{{index}}" data-field="name" value="{{model.name}}">
  		
  		
    	<label for="sampleBrand_{{index}}">ตรา/เครื่องหมาย</label>
    	<input type="text" class="form-control sampleTxtInput" id="sampleBrand_{{index}}" data-field="brand" value="{{model.brand}}" size="8">
		<label for="sampleItem_{{index}}">จำนวน(ชิ้น)</label>
		</div>
		<div class="spinbox sampleNumSbx pull-left" id="itemSbx_{{index}}" style="margin-left: 2px;">
			<input type="text" class="form-control input-mini spinbox-input"  data-field="item" value="{{model.item}}" size="1"/>
			<div class="spinbox-buttons btn-group btn-group-vertical">
				<button class="btn btn-default spinbox-up btn-xs" type="button">
					<span class="glyphicon glyphicon-chevron-up"></span><span class="sr-only">Increase</span>
				</button>
				<button class="btn btn-default spinbox-down btn-xs" type="button">
					<span class="glyphicon glyphicon-chevron-down"></span><span class="sr-only">Decrease</span>
				</button>
			</div>
		</div> 
		<div class="clearfix"></div>
    	
  		
</div>
<div id="collapsePanel_{{index}}" class="panel-collapse collapse in">
	<div class="panel-body">
		<div style="margin-bottom: 8px;" class="pull-left">
				<button id="newLabJobBtn_{{index}}" type="button" class="btn btn-primary btn-xs newLabJobBtn"><i class="fa fa-plus"></i> เพิ่มรายการทดสอบ </button>
		</div>
		<div style="margin-bottom: 8px;"  class="pull-right">
			<button id="coopySampleBtn_{{index}}" type="button" class="btn btn-info btn-xs copySampleBtn"><i class="fa fa-copy"></i> คัดลอกตัวอย่าง </button>
			<button id="removeSampleBtn_{{index}}" type="button" class="btn btn-danger btn-xs removeSampleBtn"><i class="fa fa-trash"></i> ลบตัวอย่าง </button>			
		</div>
		<div class="clearfix">
			<table data-sampleIndex="{{index}}" class="table table-bordered table-condensed table-hover labJobTbl">
			</table>
		</div>
	</div>
</div>
</div>
</script>

<script id="requestViewTemplate" type="text/x-handlebars-template">
<div class="col-md-12">
	<form role="form" class="form-horizontal">
	<div class="panel panel-default">
		<div class="panel-heading">
			<b><i class="fa fa-pencil-square-o"></i> กรุณาระบุข้อมูลด้านล่างให้ครบถ้วน</b>
		</div>
		<div class="panel-body">
			
			<div class="alert alert-info">
	
			{{#if model.quotation.id}}
<div class="form-group" style="margin-bottom: 0px;">
	<label  style="padding-top: 0px;" class="col-sm-3 control-label" for="quotation.quotationNoTxt">หมายเลขใบเสนอราคา</label>
	<div class="col-sm-9">
		<p   style="padding-top: 0px; padding-bottom:0px"  id="quotation.quotationNoTxt" class="form-control-static" data-field="quotation.quotationNo">{{model.quotation.quotationNo}}</p>
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label   style="padding-top: 0px;"  class="col-sm-3 control-label" for="quotation.quotationNoTxt">หมายเลขใบรับบริการ</label>
	<div class="col-sm-9">
		<p   style="padding-top: 0px; padding-bottom:0px"  id="quotation.quotationNoTxt" class="form-control-static" data-field="quotation.quotationNo">{{model.quotation.serviceNo}}</p>
	</div>
</div>
<hr style="margin-top: 0px; margin-bottom: 10px;"/>
				{{txtInput model "quotation.company.nameTh" "บริษัท/หน่วยงาน" 3 9 "static"}}
				<div id="companyInfoDiv">
			
				</div>
				
			{{else}}
				<div class="form-group">
					<label class="col-sm-3 control-label" style="padding-top:0px;">
						<button id="companyBtn" type="button" class="btn btn-primary"><i class="fa fa-plus"></i> เลือกบริษัทลูกค้า </button>
					</label>
					<div class="col-sm-9">
						<p id="companyNameThTxt" class="form-control-static" data-field="nameTh"></p>
					</div>
				</div>
				<div id="companyInfoDiv">
			
				</div>
			{{/if}}

				<div id="addressInvoiceDiv">
			
				</div>

				<div id="addressReportDiv">
			
				</div>

				<div id="addressReportDeliverToDiv">
			
				</div>


			</div>

		
		
			{{txtInput model "estimatedWorkingDay" "ระยะเวลาทดสอบโดยประมาณ (วัน)" 3 9}}	
			
			{{sltInput this.sampleTypes "id" "nameTh" model "sampleType" "กรุณาเลือกประเภทผลิตภัณฑ์" "ประเภทผลิตภัณฑ์" 3 9 "required"}}
			{{rdoInput speedEnum model "speed" "ความเร่งด่วน" 3 9 "required"}}
			{{rdoInput reportLanguageEnum model "reportLanguage" "ภาษารายงานผล" 3 9 "required"}}
			{{rdoInput reportDeliveryMethodEnum model "deliveryMethod" "การแจ้งผล" 3 9 "required"}}

			{{cbkInput model "separatedReportForSample" "แยกรายงานแต่ละตัวอย่าง" "รายงาน" 3 9 "no-margin-bottom"}}
			{{cbkInput model "translatedReport" "แปลรายงาน" "" 3 9}}
	
			{{rdoInput sampleOrgEnum model "sampleOrg" "การรับตัวอย่าง" 3 9 "required"}}
			<div id="sampleReceiverOrgDiv">
			{{#if model.sampleReceiverOrg}}
				{{sltInput this.mainOrgs "id" "name" model "sampleReceiverOrg" "" "หน่วยงานที่รับตัวอย่าง" 3 9 "required"}}
			{{else}}
				{{sltInput null "" "name" model "sampleReceiverOrg" "" "หน่วยงานที่รับตัวอย่าง" 3 9 "required"}}
			{{/if}}
			</div>

			{{sltInput this.mainOrgs "id" "name" model "mainOrg" "กรุณาเลือกหน่วยงาน" "สำนัก/โครงการที่รับผิดชอบ" 3 9 "required"}}	
			

			<hr/>
			<div class="pull-left" style="margin-bottom: 8px;">
				<button id="newSampleBtn" type="button" class="btn btn-primary"><i class="fa fa-plus"></i> เพิ่มตัวอย่างทดสอบ </button>
				<button id="collapseAllSampleBtn" type="button" class="btn btn-primary"><i class="fa fa-angle-double-right"></i> ปิดรายการทั้งหมด </button>
				<button id="openAllSampleBtn" type="button" class="btn btn-primary"><i class="fa fa-angle-double-down"></i> เปิดรายการทั้งหมด </button>
			</div>
			<div class="pull-right" style="margin-bottom: 8px;">
				<button id="addTestMethodAllSampleBtn" type="button" class="btn btn-primary"><i class="fa fa-list-alt"></i> เพิ่มรายการทดสอบทุกตัวอย่าง </button>
			</div>
			<div class="clearfix"></div>
				
			<div id="sampleDiv"></div>

			<hr/>
			<table  class="table table-bordered table-condensed table-hover">
<thead>
<tr>
	<td colspan="3" style="text-align:center;"><b>สรุปค่าธรรมเนียม</b></td>
	<td style="width:100px;text-align:center;">(บาท)</td>
</tr>
</thead>
			<tbody>
<tr>
	<td colspan="3" style="text-align: center;vertical-align:middle;"><b>ค่าธรรมเนียมการทดสอบ <span id="sampleNumSpan">{{sampleNum}}</span> ตัวอย่าง</b></td>
	<td style="text-align: right; padding-right:15px;" id="sumTotalItem"><b>{{formatNumber totalItem}}</b></td>
</tr>
{{#if hasPromotions}}
{{#each allpromotions}}
<tr>
	<td style="text-align: center;width: 60px;"><input type="checkbox" class="promotionCbx" id="promotionCbx-{{id}}" data-id="{{id}}" {{#if checked}}checked="checked"{{/if}}></td>
	<td colspan="2" style="text-align: center;vertical-align:middle;">
		<span style="margin-left: -60px;"><b>{{description}} ({{percentDiscount}}%)</b></span></td>
	<td style="text-align: right; padding-right:15px;" class="promotionDiscountTxt" id="promotion_{{id}}"><b></b></td>
</tr>
{{/each}}
{{/if}}
<tr>
	<td colspan="2" style="text-align: right;vertical-align:middle" >ค่าแปล (ฉบับ)</td>
	<td class="fuelux" style="width:60px;">
			<div class="spinbox itemQuantitySbx feeSbx" data-calculateForField="translateFee">
				<input type="text" class="form-control input-mini spinbox-input"  data-field="translateNum" value="{{translateNum}}"/>
					<div class="spinbox-buttons btn-group btn-group-vertical">
						<button class="btn btn-default spinbox-up btn-xs" type="button">
						<span class="glyphicon glyphicon-chevron-up"></span><span class="sr-only">Increase</span>
						</button>
						<button class="btn btn-default spinbox-down btn-xs" type="button">
						<span class="glyphicon glyphicon-chevron-down"></span><span class="sr-only">Decrease</span>
						</button>
				</div>
			</div> 
		</td>
	<td style="text-align: right; padding-right:15px;vertical-align:middle" id="sumTranslateFee">{{formatNumber translateFee}}</td>
</tr>
<tr>
	<td colspan="2" style="text-align: right;vertical-align:middle">ค่าคัดสำเนา (ฉบับ)</td>
	<td class="fuelux">
			<div class="spinbox itemQuantitySbx feeSbx" data-calculateForField="copyFee">
				<input type="text" class="form-control input-mini spinbox-input"  data-field="copyNum" value="{{copyNum}}"/>
					<div class="spinbox-buttons btn-group btn-group-vertical">
						<button class="btn btn-default spinbox-up btn-xs" type="button">
						<span class="glyphicon glyphicon-chevron-up"></span><span class="sr-only">Increase</span>
						</button>
						<button class="btn btn-default spinbox-down btn-xs" type="button">
						<span class="glyphicon glyphicon-chevron-down"></span><span class="sr-only">Decrease</span>
						</button>
				</div>
			</div> 
		</td>
	<td style="text-align: right; padding-right:15px;vertical-align:middle" id="sumTotalItemSampleNum">{{formatNumber copyFee}}</td>
</tr>
<tr>
	<td colspan="2" style="text-align: right;vertical-align:middle">ค่าออก COA/Certificate (ฉบับ)</td>
	<td class="fuelux">
			<div class="spinbox itemQuantitySbx feeSbx"  data-calculateForField="coaFee">
				<input type="text" class="form-control input-mini spinbox-input" data-field="coaNum" value="{{coaNum}}"/>
					<div class="spinbox-buttons btn-group btn-group-vertical">
						<button class="btn btn-default spinbox-up btn-xs" type="button">
						<span class="glyphicon glyphicon-chevron-up"></span><span class="sr-only">Increase</span>
						</button>
						<button class="btn btn-default spinbox-down btn-xs" type="button">
						<span class="glyphicon glyphicon-chevron-down"></span><span class="sr-only">Decrease</span>
						</button>
				</div>
			</div> 
		</td>
	<td style="text-align: right; padding-right:15px;vertical-align:middle" id="sumTotalItemSampleNum">{{formatNumber coaFee}}</td>
</tr>
<tr>
	<td colspan="3" style="text-align: right;vertical-align:middle" class="form-inline"> 

		
    		<label for="exampleInputName2">ค่าธรรมเนียมอื่นๆ</label>
  	 	 	<input type="text" style="width: 350px;" class="form-control" id="etcTxt" data-field="etc"placeholder="โปรดระบุ">
  		

	</td>
	<td class="fuelux">
		<div class="spinbox itemQuantitySbx" id="etcFeeSbx">
				<input type="text" class="form-control input-mini spinbox-input" data-field="etcFee" value="{{etcFee}}"/>
					<div class="spinbox-buttons btn-group btn-group-vertical">
						<button class="btn btn-default spinbox-up btn-xs" type="button">
						<span class="glyphicon glyphicon-chevron-up"></span><span class="sr-only">Increase</span>
						</button>
						<button class="btn btn-default spinbox-down btn-xs" type="button">
						<span class="glyphicon glyphicon-chevron-down"></span><span class="sr-only">Decrease</span>
						</button>
				</div>
			</div> 
	</td>
</tr>
<tr>
	<td colspan="3" style="text-align: center;vertical-align:middle;"><b>รวมค่าธรรมเนียมทั้งสิ้น</b></td>
	<td style="text-align: right; padding-right:15px;" id="sumTotal"><b>{{formatNumber total}}</b></td>
</tr>

</tbody>
			</table>

						
			
		</div>
		<div class="panel-footer">
			<button id="backBtn" type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i> กลับหน้าเดิม</button>
			<button id="saveQutationBtn" type="button" class="btn btn-default"><i class="fa fa-floppy-o"></i> บันทึกข้อมูล</button>
			<button id="" type="button" class="btn btn-default"><i class="fa fa-times-circle"></i> ล้างข้อมูล</button>
		</div>
	</div>
	</form>
</div>
</script>

<script id="labJobTblTemplate" type="text/x-handlebars-template">
{{#if this.jobs}}
<thead>
<tr>
	<td style="width:30px;"></td>
	<td style="width:30px;text-align:center;"></td>
	<td style="width:45px;text-align:center;"><b>ลำดับที่</b></td>
	<td style="width:180px;text-align:center;"><b>รหัสรายการ</b></td>
	<td style="text-align:center;"><b>รายการทดสอบ</b></td>
	<td style="width:80px;text-align:center;"><b>ราคาต่อหน่วย</b></td>
	<td style="width:60px;text-align:center;"><b>จำนวนหน่วย</b></td>
	<td style="width:100px;text-align:center;"><b>ราคา</b></td>
</tr>
</thead>
<tbody>
{{#each this.jobs}}
	<tr data-index="{{@index}}">
		
	{{#if testMethod}}
		<td style="padding-top:10px;width:30px;text-align:center;">
			<span class="btn btn-info btn-xs handle"><i class="fa fa-bars"></i></span>
		</td>
		<td style="padding-top:10px;"> 
			<button type="button" class="btn btn-danger btn-xs removeItemBtn"><i class="fa fa-trash"> </i></button>
		</td>
		<td style="padding-top:10px; text-align: center;" class="index">{{index}}</td>
		<td style="padding-top:10px;"><a href="#" class="itemLnk" data-index="{{@index}}"><b>{{testMethod.code}}</b></a></td>
		<td style="padding-top:10px;">{{testMethod.nameTh}}</td>
		<td style="padding-top:10px; text-align: right; padding-right:15px;">{{formatNumber testMethod.fee}}</td>
		<td class="fuelux">
			<div class="spinbox itemQuantitySbx testItemSbx">
				<input type="text" class="form-control input-mini spinbox-input" value="{{quantity}}"/>
					<div class="spinbox-buttons btn-group btn-group-vertical">
						<button class="btn btn-default spinbox-up btn-xs" type="button">
						<span class="glyphicon glyphicon-chevron-up"></span><span class="sr-only">Increase</span>
						</button>
						<button class="btn btn-default spinbox-down btn-xs" type="button">
						<span class="glyphicon glyphicon-chevron-down"></span><span class="sr-only">Decrease</span>
						</button>
				</div>
			</div> 
		</td>
		<td style="padding-top:10px; text-align: right; padding-right:15px;">{{formatNumber totalLine}}</td>
	{{else}}
		<td style="width:30px;text-align:center;">
			<span class="btn btn-info btn-xs handle"><i class="fa fa-bars"></i></span>
		</td>
		<td> 
			<button type="button" class="btn btn-danger btn-xs removeItemBtn"><i class="fa fa-trash"> </i></button>
		</td>
		<td colspan="3"><a href="#" class="itemLnk" data-index="{{@index}}"><b>{{name}}</b></a></td>
		<td></td>
		<td></td>
		<td></td>		
	{{/if}}
	</tr>
{{/each}}
</tbody>
<tfoot>
<tr>
	<td colspan="7" style="text-align: center;vertical-align:middle;"><b>รวมรายการทดสอบทั้งสิ้น</b></td>
	<td style="text-align: right; padding-right:15px;" class="sumTotalItem"><b>{{formatNumber totalItems}}</b></td>
</tr>

</tfoot>
{{/if}}
</script>


<script id="feeSummaryTemplate" type="text/x-handlebars-template">
<tr>
	<td colspan="6" style="text-align: right;vertical-align:middle">จำนวนตัวอย่างที่ส่งทดสอบ</td>
	<td class="fuelux">
			<div class="spinbox itemQuantitySbx">
				<input type="text" class="form-control input-mini spinbox-input" data-field="sampleNum" value="{{sampleNum}}"/>
					<div class="spinbox-buttons btn-group btn-group-vertical">
						<button class="btn btn-default spinbox-up btn-xs" type="button">
						<span class="glyphicon glyphicon-chevron-up"></span><span class="sr-only">Increase</span>
						</button>
						<button class="btn btn-default spinbox-down btn-xs" type="button">
						<span class="glyphicon glyphicon-chevron-down"></span><span class="sr-only">Decrease</span>
						</button>
				</div>
			</div> 
		</td>
	<td style="text-align: right; padding-right:15px;vertical-align:middle" id="sumTotalItemSampleNum">{{formatNumber totalItemSampleNum}}</td>
</tr>

<tr>
	<td colspan="6" style="text-align: right;vertical-align:middle">ค่าแปล (ฉบับ)</td>
	<td class="fuelux">
			<div class="spinbox itemQuantitySbx" data-calculateForField="translateFee">
				<input type="text" class="form-control input-mini spinbox-input"  data-field="translateNum" value="{{translateNum}}"/>
					<div class="spinbox-buttons btn-group btn-group-vertical">
						<button class="btn btn-default spinbox-up btn-xs" type="button">
						<span class="glyphicon glyphicon-chevron-up"></span><span class="sr-only">Increase</span>
						</button>
						<button class="btn btn-default spinbox-down btn-xs" type="button">
						<span class="glyphicon glyphicon-chevron-down"></span><span class="sr-only">Decrease</span>
						</button>
				</div>
			</div> 
		</td>
	<td style="text-align: right; padding-right:15px;vertical-align:middle" id="sumTotalItemSampleNum">{{formatNumber translateFee}}</td>
</tr>
<tr>
	<td colspan="6" style="text-align: right;vertical-align:middle">ค่าคัดสำเนา (ฉบับ)</td>
	<td class="fuelux">
			<div class="spinbox itemQuantitySbx" data-calculateForField="copyFee">
				<input type="text" class="form-control input-mini spinbox-input"  data-field="copyNum" value="{{copyNum}}"/>
					<div class="spinbox-buttons btn-group btn-group-vertical">
						<button class="btn btn-default spinbox-up btn-xs" type="button">
						<span class="glyphicon glyphicon-chevron-up"></span><span class="sr-only">Increase</span>
						</button>
						<button class="btn btn-default spinbox-down btn-xs" type="button">
						<span class="glyphicon glyphicon-chevron-down"></span><span class="sr-only">Decrease</span>
						</button>
				</div>
			</div> 
		</td>
	<td style="text-align: right; padding-right:15px;vertical-align:middle" id="sumTotalItemSampleNum">{{formatNumber copyFee}}</td>
</tr>
<tr>
	<td colspan="6" style="text-align: right;vertical-align:middle">ค่าออก COA/Certificate (ฉบับ)</td>
	<td class="fuelux">
			<div class="spinbox itemQuantitySbx"  data-calculateForField="coaFee">
				<input type="text" class="form-control input-mini spinbox-input" data-field="coaNum" value="{{coaNum}}"/>
					<div class="spinbox-buttons btn-group btn-group-vertical">
						<button class="btn btn-default spinbox-up btn-xs" type="button">
						<span class="glyphicon glyphicon-chevron-up"></span><span class="sr-only">Increase</span>
						</button>
						<button class="btn btn-default spinbox-down btn-xs" type="button">
						<span class="glyphicon glyphicon-chevron-down"></span><span class="sr-only">Decrease</span>
						</button>
				</div>
			</div> 
		</td>
	<td style="text-align: right; padding-right:15px;vertical-align:middle" id="sumTotalItemSampleNum">{{formatNumber coaFee}}</td>
</tr>
<tr>
	<td colspan="7" style="text-align: right;vertical-align:middle" class="form-inline"> 

		<div class="form-group">
    		<label for="exampleInputName2">ค่าธรรมเนียมอื่นๆ</label>
  	 	 	<input type="text" style="width: 350px;" class="form-control txtInput" id="etcTxt" data-field="etc"placeholder="โปรดระบุ">
  		</div>

	</td>
	<td class="fuelux">
		<div class="spinbox itemQuantitySbx" id="etcFeeSbx">
				<input type="text" class="form-control input-mini spinbox-input" data-field="etcFee" value="{{etcFee}}"/>
					<div class="spinbox-buttons btn-group btn-group-vertical">
						<button class="btn btn-default spinbox-up btn-xs" type="button">
						<span class="glyphicon glyphicon-chevron-up"></span><span class="sr-only">Increase</span>
						</button>
						<button class="btn btn-default spinbox-down btn-xs" type="button">
						<span class="glyphicon glyphicon-chevron-down"></span><span class="sr-only">Decrease</span>
						</button>
				</div>
			</div> 
	</td>
</tr>

<tr>
	<td colspan="7" style="text-align: center;vertical-align:middle;"><b>รวมค่าธรรมเนียมทั้งสิ้น</b></td>
	<td style="text-align: right; padding-right:15px;" id="sumTotal"><b>{{formatNumber total}}</b></td>
</tr>

</script>

<script id="tableResultViewTemplate" type="text/x-handlebars-template">
<div class="col-md-12">
<div class="panel panel-default">
	<div class="panel-body">
		<b>รายการใบคำร้อง</b>
	</div>
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<td style="width:80px;"></td>
				<td style="width:80px;">เลขรับ</td>
				<td style="width:200px;">ประเภทวัตถุตัวอย่าง</td>
				<td style="width:300px;">ชื่อวัตถุตัวอย่าง</td>
				<td style="width:300px;">ชื่อหน่วยงาน/บุคคล</td>
				<td style="width:40px;">โครงการ/ สำนัก</td>
				<td style="width:100px;">สถานะ</td>
				
			</tr>
		</thead>
		<tbody>
			{{#each content}}
			<tr data-id="{{id}}">
				<td>{{speed}}</td>
				<td>{{reqNo}}</td>
				<td>{{sampleType.nameTh}}</td>
				<td><ol  style="padding-left:16px;">
					{{#each samples}}
						<li> {{name}}  {{#if brand}} / {{brand}} {{/if}} </li>
					{{/each}}
					</ol>
				</td>
				<td>{{companyName}}/{{customerName}}</td>
				<td>{{mainOrg.abbr}}</td>
				<td>{{status}}</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
	<form class="form-inline">
	<div class="panel-footer">
		<div class="row">
			<div class="col-md-6">
				1-15 จาก {{page.totalElements}} รายการ  
			</div>
			<div class="col-md-6" style="text-align: right;">
				{{#unless page.firstPage}}<button class="btn btn-default btn-sm templatesPageNav" data-targetPage="{{page.prevPage}}" type="button"><i class="fa fa-chevron-left"></i></button>{{/unless}}
				หน้าที่ <input class="form-control input-sm" size="2" type="text" id="templatesPageTxt" value="{{page.pageNumber}}"></input> จาก {{page.totalPages}} หน้า
				{{#unless page.lastPage}}<button class="btn btn-default btn-sm templatesPageNav" data-targetPage="{{page.nextPage}}" type="button"><i class="fa fa-chevron-right"></i></button>{{/unless}}
			</div>
		</div>
	</div>
	</form>
</div>
</div>
</script>


		<script type="text/javascript" th:inline="javascript">
		
var mainOrgId = [[${mainOrgId}]];
var e1;
//<!--



var mainOrgs = new App.Collections.Organizations();
var sarabunOrgs = new App.Collections.Organizations();

var groupOrgs = new App.Collections.Organizations();
var sampleTypes = new App.Collections.SampleTypes();
var promotions = new App.Collections.Promotions();
var userMainOrg;
var appRouter;
var speedEnum = [{id: "NORMAL", value:"NORMAL", desc:"ธรรมดา" },{id: "EXPRESS", value:"EXPRESS", desc:"ด่วนพิเศษ" }];
var reportLanguageEnum = [{id: "TH", value: "TH", desc:"ภาษาไทย"},{id: "EN", value:"EN", desc:"ภาษาอังกฤษ"}];
var reportDeliveryMethodEnum = [{id: "POST", value: "POST", desc:"ส่งทางไปรษณีย์"},{id: "SELF", value:"SELF", desc:"มารับด้วยตัวเอง"}]
var sampleOrgEnum = [{id: "SARABUN", value: "SARABUN", desc:"สารบรรณรับใบคำร้องพร้อมตัวอย่าง"},{id: "OTHER", value:"SELF", desc:"สารบรรณรับใบคำร้อง"}]

$( document ).ready(function() {
	
	
	mainOrgs.url = appUrl('Organization/')

	
	$.when(
			sampleTypes.fetch(), 
			sarabunOrgs.fetch({url: appUrl('Organization/12')}),
			mainOrgs.fetch(), 
			promotions.fetch({url: appUrl('Promotion/current')})
			
	).done(_.bind(function(x) {
				
				appRouter = new AppRouter();
				
				Backbone.history.start();
		
	}, this));
	

});


//-->
		</script>
	</div>
</body>
</html>