<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<head>
</head>
<body>
	<div layout:fragment="content">
	
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">m01: ระบบข้อมูลลูกค้า</h3>
					</div>
						
					<div class="panel-body">
						<ul class="list-group menu">
							 <li class="list-group-item"><i class="fa fa-arrow-circle-right"></i> <a href="page/m01f01">m01f01: ทะเบียนบริษัทลูกค้า</a></li>
							<!--  <li class="list-group-item"><i class="fa fa-arrow-circle-right"></i> <a href="m01f02">m01f02: ทะเบียนรายการผลิตภัณฑ์และรายการทดสอบ</a></li> -->
						</ul>
					</div>
				</div>
				
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">m09: ระบบข้อมูลพื้นฐาน</h3>
					</div>
						
					<div class="panel-body">
						<ul class="list-group menu">
							 <li class="list-group-item"><i class="fa fa-arrow-circle-right"></i> <a href="page/m09f01">m09f01: รายการส่วนลด</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">m02: ระบบออกใบเสนอราคา</h3>
					</div>
					
					<div class="panel-body">
						<ul class="list-group menu">
							<li class="list-group-item"><i class="fa fa-arrow-circle-right"></i> <a href="page/m02f01">m02f01: ต้นแบบใบเสนอราคา</a></li>
							<li class="list-group-item"><i class="fa fa-arrow-circle-right"></i> <a href="page/m02f02">m02f02: จัดทำใบเสนอราคา</a></li>
							<li class="list-group-item"><i class="fa fa-arrow-circle-right"></i> <a href="page/m02f03">m02f03: ค้นหาใบเสนอราคา</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- 
			<div class="col-md-6">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">m03: ระบบออกใบคำร้อง</h3>
					</div>
					
					<div class="panel-body">
						<ul class="list-group menu">
							<li class="list-group-item"><i class="fa fa-arrow-circle-right"></i> <a href="page/m03f01">m03f01: จัดทำใบคำร้อง</a></li>
						</ul>
					</div>
				</div>
			</div>
			 -->
		
		</div>
	</div>
</body>
</html>